<html>
<head>
    <title>Messages List</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<div>
    <form action="/logout" method="post">
        <input type="hidden" name="_csrf" value="{{_csrf.token}}">
        <input type="submit" value="Sign Out"/>
    </form>
</div>
<div>
    <form action="/main" method="post">
        <input type="text" name="text" placeholder="Enter message">
        <input type="text" name="tag" placeholder="Tag">
        <input type="hidden" name="_csrf" value="{{_csrf.token}}">
        <button type="submit">Add</button>
    </form>
</div>
<div>
    <div>Filtered by tag #</div>
    <form method="post" action="filter">
        <input type="text" name="tag">
        <input type="hidden" name="_csrf" value="{{_csrf.token}}">
        <button type="submit">Find</button>
    </form>
</div>
<p>
<table border="0" cellpadding="8">
    <tr>
        <th>Id</th>
        <th>Message</th>
        <th>Tag</th>
        <th>Author</th>
    </tr>
    {{#messages}}
        <tr>
            <td>{{id}}.</td>
            <td>{{text}}</td>
            <td>#{{tag}}</td>
            <td>{{ authorName}}</td>
        </tr>
    {{/messages}}
</table>
</body>
</html>